@import "tailwindcss";

@theme {
  --font-sans: "PingFang SC", "Hiragino Sans GB", "Noto Sans SC", "Microsoft YaHei", "Roboto", ui-sans-serif, system-ui, sans-serif;

  --color-brand-primary: #FFDD00;
  --color-brand-secondary: #FF7700;
}

:root {
  color: #111111;
  background-color: #F5F5F5;
  font-family: var(--font-sans);
}

html {
  background-color: #F5F5F5;
}

body {
  margin: 0;
  background-color: #F5F5F5;
  color: #111111;
  font-family: var(--font-sans);
}

::-webkit-scrollbar {
  display: none;
}

